{% extends "layout.html" %}

{% block content %}
    <h1 class="text-center text-3xl" >test conent for form</h1>
    <form method = "POST" >
        {% csrf_token %}
        <h1 class = 'text-black' >{{form}}</h1> 
        <button type = "submit" >Search Store</button>
       </form>

{% if stores  %}
       <h2>Stores available</h2>
       <ul>
        {% for store in stores  %}
            <li>{{store.name}} - {{store.location}}</li>
        {% endfor %}
       </ul>
{% endif %}

{% endblock %} 